.background-admin {
	background-image: url('../imgs/city.jpg');
    background-size: cover;
    z-index: -1;
}

.fullsize {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
}
