.background-login {
	background-image: url('../imgs/city.jpg');
    background-size: cover;
}

.fullsize {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
}

.opaco-panel {
	background-color: rgba(255, 255, 255, 0.3);
	border-color: rgba(255, 255, 255, 0.3);
}

.opaco-error {
	background-color: rgba(255, 0, 0, 0.3);
	border-color: rgba(255, 0, 0, 0.3);
}

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}

.login-panel {
	border-radius: 10px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
	color: #FFF;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: 0px;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
}

.form-control[type="text"]:focus {
	box-shadow: 0px -2px 0px #FFF inset;
}

.form-control[type="password"]:focus {
	box-shadow: 0px -2px 0px #FFF inset;
}