.conteudo {
	background-color: white;
	width: 100%;
	min-height: 500px;
}

.logout a {
	text-align: center;
}

.logout i {
	color: #F0AD4E;
}

.simple-link a {
	color: #31708F;
	text-decoration: none;
}

.not-visible {
	display: none;
}

.center-td {
	text-align: center;
}

.mid-navbar {
	border-radius: 0px !important;
	background-color: #dddddd !important;
	border-color: #dddddd !important;
}s